.Card{
	height: 118px;
	width: 243px;
	border-radius: 10px;
	margin: 35px;
	padding:  16px;
	background-color: #FFF;
	font-family: 'Inter', sans-serif;
	transition: all .2s ease;
	.inner-card{
		width: 100%;
		height: 100%;
		.card-title{
		width: 90%;
		color: #ADADAD;
		font-size: 16px;
		margin:0 0 16px 0;
		}
		.card-content {
			color: #000;
			font-size: 32px;
			font-weight: 500;
			margin: 0;
		}
	}
	.compress {
		display: none;
	}
}

.Card:hover {
    filter: drop-shadow(0px 10px 20px rgba(106, 133, 160, 0.1))
}

#active {
    height: 366px;
    width: 583px;
    transition: all .8s ease;
    margin: 20px 35px 35px 35px;
    .compress {
    	display: inline;
		position: relative;
		float: right;
		width: 4%;
	}
	.inner-card {
		.card-title{
			margin-left: 2%
		}
		.card-content {
			font-size: 58px;
			margin-top: 8%;
			margin-left: 2%;
		}
	}
}

.inactive {
	width: 275px;
    height: 31px;
    pointer-events: none;
    margin: 20px;
    transition: all .2s ease;
    .inner-card{
      display: flex;
      flex-direction: row;
      padding-left: 4px;
      padding-top: 5px;
      .card-title{
        width: 85%;
        margin:0 0 6px 0;
      }
      .card-content {
        font-size: 16px;
      }
    }
}